{% extends "layout.html" %}
{% block body %}
<div class="card" style="margin: 2rem auto 0 auto;width:300px;">
    <div class="card-header">接收到的数据</div>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>姓名</td>
                <td style="width:200px;">{{ user.name }}</td>
            </tr>
            <tr>
                <td>年龄</td>
                <td>{{ user.age }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
