# Settings to add to C:/Apache24/conf/httpd.conf
# update as needed

#
# ServerName gives the name and port that the server uses to identify itself.
# This can often be determined automatically, but we recommend you specify
# it explicitly to prevent problems during startup.
#
# If your host doesn't have a registered DNS name, enter its IP address here.
#
# ServerName localhost:80 # use this if you're running this on a VirtualBox VM or PC




# Django Project

# ----------------------------------------------------------------------------------------------------

# ServerName 54.248.246.17:80
# 
# # Chance_Dating_Windows_Server
# LoadFile "c:/python39/python39.dll"
# LoadModule wsgi_module "c:/python39/lib/site-packages/mod_wsgi/server/mod_wsgi.cp39-win_amd64.pyd"
# WSGIPythonHome "c:/python39"
# WSGIScriptAlias / "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/project/wsgi.py"
# WSGIPythonPath "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/"
# 
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/project/">
#     <Files wsgi.py>
#         Require all granted
#     </Files>
# </Directory>
# 
# Alias /static "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/static/"
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/static/">
#     Require all granted
# </Directory>
# 
# Alias /media "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/media/"
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/media/">
#     Require all granted
# </Directory>

# ----------------------------------------------------------------------------------------------------

# ServerName 13.114.211.168:80
#
# # Windows_Server_2019-1
# LoadFile "c:/users/administrator/appdata/local/programs/python/python39/python39.dll"
# LoadModule wsgi_module "c:/users/administrator/appdata/local/programs/python/python39/lib/site-packages/mod_wsgi/server/mod_wsgi.cp39-win_amd64.pyd"
# WSGIPythonHome "c:/users/administrator/appdata/local/programs/python/python39"
# WSGIScriptAlias / "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/project/wsgi.py"
# WSGIPythonPath "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/"
# 
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/project/">
#     <Files wsgi.py>
#         Require all granted
#     </Files>
# </Directory>
# 
# Alias /static "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/static/"
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/static/">
#     Require all granted
# </Directory>
# 
# Alias /media "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/media/"
# <Directory "C:/Users/Administrator/Documents/gpsdatingapp/Back-End/DjangoEnv/project/media/">
#     Require all granted
# </Directory>
